/* ----GENERAL---- */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background: rgb(36, 36, 0);
    background: linear-gradient(351deg, rgba(36, 36, 0, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(255, 243, 218, 0.5942752100840336) 0%, rgba(246, 215, 153, 0) 100%);
    /* background-image: url(images/background-test.jpg); */
}

.page-size {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.main-flex {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

/* ----LINKS---- */

#portfolio-title, #about-title, #contact-title {
    scroll-margin-top: 80px;
}

a {
    color: inherit;
    text-decoration: none;
}

/* ---HEADER & NAV--- */

header {
    position: fixed;
    right: 0px;
    left: 0px;
    width: 100%;
    z-index: 9;
    background-color: white;
}

.navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Mono', monospace, sans-serif;
    color: #444;
    padding: 20px 210px;
}

nav {
    border-bottom: 2px solid cornflowerblue;
    padding-top: 7px;
    text-transform: uppercase;
    font-weight: bold;

}

nav li {
    padding-top: 2px;
    transition: all 300ms ease;
    border-radius: 8px 8px 0px 0px;
}

nav li:hover {
    background-color: rgba(100, 148, 237, 0.171);
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 0px 10px;
    padding-bottom: 2px;
}

/* ---TEXT--- */
h1{
    font-family: 'Roboto Mono', monospace, serif;
}

h3 {
    text-align: center;
    font-family: 'Roboto Mono', monospace, sans-serif;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 10px;
}

.card-text h3 {
    font-size: 29px;
}

p {
    text-align: center;
    font-family: 'Roboto Mono', monospace, sans-serif;
}

.card-text p {
    display: flex;
    justify-content: center;
}

.point {
    color: cornflowerblue;
    font-family: 'Crete Round', serif;
}

.games h3 {
    padding: 0px;
}

#portfolio-title, #about-title, #contact-title {
    margin-top: 20px;
}

/* ---IMAGES--- */

img {
    border-radius: 6px;
    display: block;
}

.portfolio img {
    border-radius: 6px;
}

.bloc-description .img-photo-anto {
    position: absolute;
    top: 41%;
    bottom: 0%;
    left: 12.3%;
    right: 0%;
    height: auto;
    max-width: 68%;
    display: flex;
    border: solid 10px white;
}

/* Main content */

.main-content {
    flex-grow: 1;
    margin-top: 77px;
}

.games {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.playerprojects {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 250px 20px;
}

.portfolio {
    text-align: center;
    display: flex;
    justify-content: center;
}

.playerfolio {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding-top: 80px;
}

/* FLIP CARD */

.games .flip-card, .bloc-about .flip-card {
    background-color: transparent;
    width: 550px;
    height: 800px;
    perspective: 1000px;
    transition: all 300ms ease;
    cursor: pointer;
}

.games .flip-card-inner, .bloc-about .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.games .flip-card.hover .flip-card-inner, .bloc-about .flip-card.hover .flip-card-inner {
    transform: rotateY(180deg);
}

.portfolio img:hover, .bloc-lya img:hover, .bloc-harrell img:hover, .bloc-about img:hover, .container:hover {
    box-shadow: 0px 1px 11px 2px black;
}

.portfolio img, .bloc-lya img, .bloc-harrell img, .bloc-about img, .container, .container2 {
    transition: all 300ms ease;
}

.games .flip-card-front, .flip-card-back, .bloc-about .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.games .flip-card-front, .bloc-about .flip-card-front {
    background-color: #bbb;
    color: black;
}

.games .flip-card-back, .bloc-about .flip-card-back {
    color: white;
    transform: rotateY(180deg);
    background-color: transparent
}

.container, .container2 {
    border-radius: 6px;
}

.games .container, .bloc-about .container {
    position: relative;
    text-align: center;
    color: white;
}

.card-text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-text-about {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: #572023;
    padding: 10px 5px;
    border: solid black;
    border-radius: 3px;
    font-size: 95%;
}

/* FLIP CARD PORTFOLIO */

.portfolio .flip-card {
    background-color: transparent;
    width: 1132px;
    height: 500px;
    perspective: 1000px;
    transition: all 300ms ease;
    cursor: pointer;
}

.portfolio .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.portfolio .flip-card.hover .flip-card-inner {
    transform: rotateX(180deg);
}

.portfolio .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.portfolio .flip-card-front {
    background-color: #bbb;
    color: black;
}

.portfolio .flip-card-back {
    color: white;
    transform: rotateX(180deg);
    background-color: transparent
}

/* ---ABOUT--- */

.bloc-about {
    display: flex;
    justify-content: space-evenly;
}

.bloc-description {
    font-size: 22px;
    color: #444;
    height: 800px;
    width: 550px;
    background-image: url(images/description-background.png);
    border: solid 1px #572023;
    border-radius: 6px;
    position: relative;
}

.bloc-description p {
    margin: 0px 25px 0px 5px;
    text-align: left;
    color: white;
    font-size: 65%;
    padding-top: 90px;
}

.card-text-about p {
    text-align: left;
}

.skills-p {
    margin-bottom: 38px;
}

/* ---TEST--- */

/* ---CONTACT--- */
.name-email, textarea{
    width: 500px;
}

.submit-button{
    width: 500px;
}
textarea{
    resize: none;
    width: 502px;
}

input[type='text'], textarea {
    font-family: 'Roboto Mono', monospace, sans-serif;
}
input[type='submit']{
    width: 503.98px;
}

.container-contact{
    display: flex;
    justify-content: center;
}

.contact {
    display: flex;
    justify-content: center;
    width: 550px;
}

form{
    padding: 10px;
}

.form-message {
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

.form-mailinput{
    margin-top: 3px;
}

.submit-button{
    margin-top: 3px;
    width: 504px;
}
/* ---FOOTER--- */